{% extends "layout.html" %}

{% block content %}
<div class="bg-light p-5 rounded-lg m-3">
    <h1 class="display-4">Nosotros!</h1>
    <p class="lead">Aquí va todo el chorizo descibiendo de la aplicación.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima nobis harum pariatur, ipsum ut facilis praesentium? Ipsam explicabo necessitatibus, blanditiis quidem officiis incidunt earum quae maxime tempore iusto expedita dignissimos..</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Enviar</a>
  </div>
{% endblock %}