
{% extends "layout.html" %}

{% block content %}
<script>
  document.getElementById("foto").onchange = function () {
    alert("eoooh")
    var reader = new FileReader();

    reader.onload = function (e) {
        // get loaded data and render thumbnail.
        document.getElementById("image").src = e.target.result;
    };

    // read the image file as a data URL.
    reader.readAsDataURL(this.files[0]);
  };

  function readURL(input) {
    alert("eoooh3")
  if (input.files && input.files[0]) {
    var reader = new FileReader();
    reader.onload = function (e) {
      $('#blah')
        .attr('src', e.target.result)
        .width(150)
        .height(200);
    };
    reader.readAsDataURL(input.files[0]);
  }
}


  function imagePreview2() {
    alert("eoooh2")
    var reader = new FileReader();

    reader.onload = function (e) {
        // get loaded data and render thumbnail.
        document.getElementById("image").src = e.target.result;
    };

    // read the image file as a data URL.
    reader.readAsDataURL(this.files[0]);
  }

  function imagePreview() {
    ruta = 'file:///' + document.getElementById("foto").value;
    document.getElementById("preview").src = ruta;
  }
</script>
<div class="bg-light p-5 rounded-lg m-3">
  <h1 class="display-4">Envia tu foto</h1>
  <p class="lead">Haz una foto con la cámara y envíala usando el formulario.</p>
  <hr class="my-4">
  <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Enviar</a>-->
  <form method="POST" action="/formulario" enctype="multipart/form-data" >
    <!-- <label for="nombre">username</label>
    <input type="text" name="nombre" id="nombre" required> -->
    <label for="foto">Foto</label>
    <!--onchange="imagePreview() <input type="file" name="foto" id="foto" accept="image/*" />-->

    <input name="foto" id="foto" type="file" accept="image/*" capture="camera" onchange="readURL(this);"/>
    {{ form.hidden_tag() }}
    <img id="preview" src="" />
    <img id="image" />
    <img id="blah" src="#" alt="your image" />
    <input type="submit" value="enviar" class="btn btn-primary">
  </form>
</div>

{% endblock %}
